nav {
	background: #003366;
	overflow: hidden;
	padding: 15px;
	box-sizing: border-box;

	section {
		font-size: 14px;
		float: left;
		margin: 15px 15px 0 0;
		background: #485C5A;
		padding: 15px;

		a {
			display: inline-block;
			background: #D6E4E1;
			padding: 5px 15px;
			color: #000;
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
